.root {
  text-align: center;
  background: #8e76cb;
  width: 100%;
  
  img {
    width: 100%;
  }
  
  a {
    text-align: center;
    top: 0;
    position: absolute;
    font-size: xx-large;
    color: red;
    text-decoration: none;
  }
}