#root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.pagination {
  display: block;
  width: 100%;
  text-align: center;
}

.div__home {
  position: absolute;
  top: 0;
  width: 100%;
}

.div__buttons {
  display: flex;
  margin-top: 5px;
  flex-wrap: nowrap;
  align-items: end;
  text-align: center;
}