@font-face {
  font-family: 'inter';
  src: url('./InterVariable.ttf') format('truetype');
}

@font-face {
  font-family: 'inter-italic';
  src: url('./InterVariable-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'errorText';
  src: url('./vtks-report-error/VTKS\ REPORT\ ERROR.ttf') format('truetype');
}
